<?xml version="1.0"?>

<model>
  <name>moving_wall</name>
  <version>1.0</version>

  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Anubhav</name>
    <email>anubhav96022@gmail.com</email>
  </author>

  <description>
    Moving wall panel for the Pace Robotics localization and mapping challenge.
  </description>
</model>
